.Purchase-title {
    font-size: 24px;
    margin-bottom: 1rem;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-family: 'Dancing Script', cursive;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    }
.bg-compras {
    background-color: #FAF9F9;
    
    }
