.mobile {
  display: none !important;
}

.hero-section {
  height: 50vh;
}

.category-container {
  background-color: rgba(126, 89, 84, 0.74);
  width: 20%;
}

.category-link {
  text-decoration: none;
  color: #f7d6ff;
  text-shadow: 1px 1px 2px black;
  font-size: 19px;
}

.category-link:hover {
  text-decoration: underline;
}

.descuentos-div-romboide {
  width: 80%;
  background-color: rgba(131, 152, 185, 0.7);
  transform: skew(25deg);
  transform-origin: top;
}

.discount-section {
  margin-top: 1.5rem;
}

.descuentos-mobile-container {
  background-color: rgba(131, 152, 185, 0.7);
}

.contenido-romboide {
  transform: skew(-25deg);
}

.discount-image-romboide {
  height: 100px;
  width: auto;
  object-fit: cover;
}

.switch-games-discount {
  height: 100px;
  width: auto;
  object-fit: cover;
}

.lo-que-buscas-box, h2 {
  color: #6471A5;
  font-weight: 400 !important;
}

@media (max-width: 750px) {
  .desktop {
    display: none !important;
    margin: 0px !important;
    padding: 0px !important;
  }

  .mobile {
    display: block !important;
  }
}
