h1 {
font-family: 'Be Vietnam Pro', sans-serif;
font-family: 'Dancing Script', cursive;
font-family: 'Rubik Dirt', cursive;
font-size: 100px !important;    
font-weight: 100;
color: #D699A5 !important;
}
.header-bg {
    background-color: rgb(134,146,165);
    min-height: 30vh !important;
  }
.subtitle {
    background-color: #D699A5;
    overflow: hidden;
    color: #Fff;
}
.animated-text {
    animation: slide-in-out 10s linear infinite;
  }
  
  @keyframes slide-in-out {
    0%, 100% {
      transform: translateX(190%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

.logo {
    height: 25vh;
    width: 25vh;
    margin-left: 5vh;
}

.logo:hover {
    cursor: pointer;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.longButton {
    background-color: #7E5954 !important;
    opacity: 75%;
    border-radius: 30px;
    width: 20vw;
}
.colorButton {
    border-bottom: none !important;
    color: #F7D6FF !important;
    background: #7E5954 !important;
    text-decoration: none !important;
    border: none !important;
}
.heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}
 @-webkit-keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  