.footer-main {
  background-color: rgba(131, 151, 185, 0.7);
  min-height: 50vh !important;
}

.link-to-category-footer {
  text-decoration: none !important;
  color: rgba(0, 0, 0, 0.7);
}

.link-to-category-footer:hover {
  text-decoration: underline !important;
}

.pre-footer-img {
  height: 191px;
  width: 231px;
  object-fit: cover;
}

.suscribe-div {
  top: 30px;
  background-color: #f0dee2;
  width: 60%;
}

.suscribe-button {
  background-color: rgba(65, 90, 187, 0.64);
  text-decoration: none;
  border: none;
}

.suscribe-button:hover {
  background-color: rgba(131, 151, 185, 0.7);
}

.suscribe-button:active {
  border-color: aquamarine !important;
  border: solid 1px;
}

.copyright-footer-end {
  background-color: #6471A5;
}

@media (max-width: 750px) {
  .suscribe-div {
    width: 90%;
  }

  .suscribe-div h2,
  button {
    font-size: 14px !important;
  }

  .footer-row {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 99% !important;
  }

  .h3-footer {
    font-size: 14px;
  }

  .link-to-category-footer {
    font-size: 14px !important;
  }
}
