.cardStyle{
    background-color: #faf9f9!important;
    border-radius: 40px!important;
}

.primary {
    background-color: #648ac8!important;
    color: white!important;
    border-color: #648ac8!important;
}

.secondary {
    background-color:#c8c7c7!important ;
    color: rgb(47, 46, 46)!important;
    border-color: #c8c7c7!important;
}

.icon-size {
    font-size: 2rem;
  }

  .icon-color {
    color:#648ac8;
  }

  .logoRegister{
    width:25%!important;
    height: auto!important;
    margin: 0!important;
    padding:0!important;
  }